.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pokemon {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0.7em;
    border-radius: 1em;
    background: linear-gradient(-120deg, hsla(145, 84%, 73%, 1) 0%, hsla(150, 61%, 48%, 1) 100%);
    box-shadow: 0 0 45px rgba(43, 41, 41, 0.39);
    color: #ffffff;
}


.pokemon .number {
    color: rgba(0, 0, 0, 0.315);
    text-align: right;
    font-size: 1.2em;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.39);
    font-size: 1.8em;
    margin-bottom: .25rem;
}

.pokemon .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.pokemon .types {
    padding: 0;
    margin: 0;
    margin-left: 0.5em;
    list-style: none;
}

.pokemon .types .type {
    color: #fff;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.692);
    padding: .25rem 1.3rem;
    margin: .5rem 0;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.301);
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .details img {
    max-width: 100%;
    height: 120px;
    margin-top: -1em;
    z-index: 2;

    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.445));
}



@media screen and (max-width: 400px) {
    .pokemons {
        grid-template-columns: 1fr;
    }
}


@media screen and (min-width: 400px) {
    .pokemons {
        grid-template-columns: 1fr;
        margin: auto 2em;
    }

    .pokemon {
        margin: 1.2em;
    }
}


@media screen and (min-width: 550px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }
}


@media screen and (min-width: 900px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .pokemon {
        margin: .75em;
    }
}

@media screen and (min-width: 1900px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .pokemon {
        margin: 0.85em;
    }

    .pokemon .details img {
        max-width: 100%;
        height: 170px;
        margin-top: -2em;
    }

    .pokemon .types .type {
        font-size: 1.4em;
    }
}