.pokedexView {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pokemon-card-container{
    margin: 0.7em auto;
    width: 100%;
}

.pokemon-card {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    margin: 0.3em;
    padding: 1rem;
    border-radius: 1em;
    color: #ffffff;
    background: linear-gradient(-120deg, hsla(145, 84%, 73%, 1) 0%, hsla(150, 61%, 48%, 1) 100%);
    box-shadow: 0 0 45px rgba(43, 41, 41, 0.39);
}


.pokemon-card .number {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: -1.5em;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.315);
}

.pokemon-card h2.name {
    text-transform: capitalize;
    margin-bottom: .25rem;
    font-size: 1.8em;
    color: #fff;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.39);
}

.pokemon-card .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.pokemon-card .types {
    padding: 0;
    margin: 0;
    margin-left: 0.5em;
    list-style: none;
}

.pokemon-card .types .type {
    margin: .5rem 0;
    padding: .25rem 1.3rem;
    border-radius: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.692);
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.301);
    filter: brightness(1.1);
}

.pokemon-card .details img {
    max-width: 100%;
    height: 120px;
    margin-top: -1em;
    z-index: 2;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.445));
}


@media screen and (max-width: 400px) {
    .pokedexView {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 400px) {
    .pokedexView {
        grid-template-columns: 1fr;
        margin: auto 2em;
    }

    .pokemon-card {
        margin: 1.2em;
    }
}

@media screen and (min-width: 550px) {
    .pokedexView {
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }
}

@media screen and (min-width: 1000px) {
    .pokedexView {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .pokedexView {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .pokemon-card {
        margin: .75em;
    }
}

@media screen and (min-width: 1800px) {
    .pokedexView {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .pokemon-card {
        margin: 0.5em;
    }

    .pokemon-card .details img {
        max-width: 100%;
        height: 170px;
        margin-top: -2em;
    }

    .pokemon-card .types .type {
        font-size: 1.4em;
    }
}